{% extends 'base.html' %}
{% block content %}
    {% load crispy_forms_tags %}{% load l10n %}{% load i18n %}{% load staticfiles %}
    <div class="row">
        <div class="col-md-12 col-xs-12">
            {% trans 'Bancos' %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{% trans 'Banco' %}</th>
                    <th>{% trans 'Cantidad de Afiliados' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for banco in object_list %}
                    <tr>
                        <td>
                            <a href="{% url 'banco-update-detail' banco.id %}">
                                {{ banco.nombre }}
                            </a>
                        </td>
                        <td>
                            {{ banco.affiliate_set.count }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
