{% extends 'base.html' %}
{% block content %}
    {% load crispy_forms_tags %}{% load l10n %}{% load i18n %}
    {% load staticfiles %}{% load bootstrap_pagination %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{% trans 'Cotización' %}</th>
                    <th>{% trans 'Fecha de Cobro' %}</th>
                    <th>{% trans 'Fecha de Procesamiento' %}</th>
                    <th>{% trans 'Acciones' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>
                            <a href="{{ object.get_absolute_url }}">
                                {{ object.cotizacion }}
                            </a>
                        </td>
                        <td>{{ object.fecha_de_cobro }}</td>
                        <td>{{ object.fecha_de_procesamiento }}</td>
                        <td>
                            {% if not object.procesado %}
                                <a class="btn btn-primary"
                                   href="{% url 'cotizacion-update-file-process' object.id %}">
                                    {% trans 'Procesar' %}
                                </a>
                            {% else %}
                                <a class="btn btn-success"
                                   href="{% url 'cotizacion-update-file-compare' object.id %}">
                                    {% trans 'Comparar' %}
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
