unicodecsv
Django
FormEncode
MySQL-python
boto
django-crispy-forms
django-environ
django-extensions
django-storages
python-dateutil
pytz
six
virtualenv
-e git+https://github.com/SpectralAngel/bridge.git#egg=bridge
django-debug-toolbar
django-crispy-forms
django-bootstrap3-datetimepicker-2
